*
{margin:10px;
    padding: 0px;
    font-family:Helvetica;

}
*
{margin:8px;
    padding: 0px;
}

header
{   
<<<<<<< HEAD
    background-image:url(banner2.jpg);
    background-attachment: fixed;
    background-size: cover;
    opacity: 1;
    }
=======
background-image:url(imagen/banner2.png);
background-attachment:fixed;
background-size: cover;
opacity:10;
}
>>>>>>> 6575d23c5c14273aad79b0947927c6b4d696a2c9


body
{background-image: url(imgen/backg3.png);
background-repeat: no-repeat;
background-size: cover;
opacity: 10;
}

nav
{text-align: center; color: lightseagreen }
h1
{margin: 2cm; color:lightseagreen; text-align:center; background-image: url(banner2.png);
}

h3
{color: black; text-align: center; background-image: url(banner2.png);
}

p
{ font-size:x-large; font-style: mono ;  color: black; text-align: left;

}

p

{margin-top: 3cm;
    box-shadow: 20px 20px 20px 20px; box-shadow: 5px 5px 5px black;
}

image
{ border-image: 5px; color: black; 
}
*
{margin: 10px;
    padding: 0px;}
footer
{background-image: url(banner2.png);
    background-attachment: fixed;
    background-size: cover;
    opacity: 1;
    color:darkblue; 
    text-align: center;
    margin-top: 3cm;
    

}